/*
1-commen styles
2-General styles
3-Sections
3-0 header    
3-1 home section*/
/*3-2/* about section*/
/*3-3/* portfoliot section*/
/*3-4/* service section*/
    /* proces section*/
    /* team section*/
    /* team section*/
    /* Blog page */
    /* Contact page*/
/*3-9/* Footer*/


/*1-commen styls
-overlay
-container
-opacity hover
-section header
-hover effect 1 (left to right)
-hover effect 2 (right to left)*/

:root{
    --mainColor :#6195ff;
}

.overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.hover-opacity{ 
 transition: opacity .5s;/*translition sur opacity selement si enleve opacity la classe btn b margin radios kaml ysralhom translation*/   
}

.hover-opacity:hover{ /*hover option ki t7ot cursor tweli opacity*/
    opacity: 0.6;
}

.leftToRight-effect{
    position: relative;
}
.leftToRight-effect:after{
    position: absolute;
    content: "";
    /*width: 100%;
    height: 100%; ou */
    width: 0;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*ma3ntha kol wahd yadjbed man djiha hatta y3ammer item*/
    transition: width 0.5s; /*dirli transition (ykhrdj bla39el 0.5 s)*/
    /*opacity: 0.6;*/
    z-index: -1; /* effect yawlli ta7t el hadra titre we disription*/
}
.leftToRight-effect:hover:after{ /*ma3ntha kindir hover 3aytli lel class .leftToRight-effect:after*/
    
    width: 100%;
   
    
}



/*2- general styles*/
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;/*css3*/ 
}
.container{
width: 80%;
margin: auto;
}

body{
font-family: 'Varela Round', sans-serif;
}

h1 , h2, h3, h4, h5, h6 {
font-family: montserrat,sans-serif;
}
button{
    font-family: inherit;/*pour copier le style de font de site et appliquer sur les bouttons*/
}
a {
    text-decoration: none;
}

.pd-y{
    padding: 120px 0;/* melfo9 lel ta7t 120 we zero ma3ntha gauche et droite rest zero*/
} /*padding verticale pour espacer bin les section*/


.clear{
    clear: both; /*pour effacer ou descativer option float */
}

/* section home*/
.section-header{
    text-align: center;

}
.section-header .section-title
{
    font-size: 35px;
    text-transform: capitalize;/*debut de phrase soit maj*/
    margin-bottom: 10px; /*bch nb3ed bin welcome to ... et la ligne bleu*/  
    margin-top: 70px; 
}

.section-header .line{
    width: 60px;
    height: 5px;
    background-color: var(--mainColor);
    display: block;
    margin: 0 auto 70px auto;/* top-right-buttom-left : bottom melta7t we top melfo9 */
}
/*3-sections Styles*/
/*header*/
.header{
position: fixed; /*pour enlever le blanc */
width: 100%;
z-index: 10;
background: rgba(0, 0, 0, 0.4);
}
.header .logo{
    width: 40%;
   
    float: left;
}

.header .logo img{
    width: 20%; /*pourcentage men la taille rieel ta3o*/
    margin-top: 15px;/*bach yahbet el logo chwia */
}

.header .nav {
    width: 60%;
    float: left; /*bach ydji 9oddam b3dahom logo we nav */
    list-style: none;/* pour enlever les points */
    text-align: right;
}
.header .nav >li{
    display:inline-block;
    text-align: right;
}    
.header .nav >li >a{
    color: white;
    text-decoration:none;
    display: block;
    padding: 30px 15px;
}

.header .nav >li >a.active:after,
.header .nav >li >a:after{ 
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background-color: #6195ff;
    transition: 0.5s;
    }
.header .nav > li > a:after{ 
width: 0%;
}
.header .nav > li > a.active:after{ 
    width: 100%;
    }
.header .nav > li > a:hover:after{
    width: 100%;
}
.dropdown{
 position: relative;
}
.dropdown-menu{
    position: absolute;
    /*background: #6195ff;*/
    width: 150px;
    text-align: center;
    left: -15;
    top:70%;
    opacity: 0; /*bach twelli matbanch*/
    visibility: hidden;
    transition: opacity 0.5s,visibility 0.5s; /* transition 3la opacity et visibility berk*/
    
}
.dropdown:hover .dropdown-menu{ /*ki nhot souri 3la eli fha classe .dropdown tetactiva la la classe dropdown-menu */
    opacity: 1; /*bach twelli matbanch*/
    visibility: visible; 
}


.dropdown-menu a {

    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  
}

.header-content{
    /*overflow: hidden;*/ /* to solve float problem*/
}
.home{
    height: 100vh;
    background-image: url(../images/background1.jpg);
    background-size: cover;/*css3*/
    position: relative;
}

/*home section*/
.home-content{
    width: 65%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;

}
.home .title{
    color: white;
    font-size:4.5rem;
    text-transform: uppercase;
}

.home .home-desc{
    margin: 20px 0;
    color:#fff;
    letter-spacing: 2px;/*espace entre les lettres*/
    line-height: 1.5; /*espace entre les lignes*/
}
.home .btn{
    width: 160px;
    padding: 15px 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: white;
}
.home .btn-learn{
    margin-left: 10px;
    background-color: #6195ff;
    color: white;
}


/*about section*/
.about{

}

.about-content{
 overflow: hidden;
}
.about-item{
width: 30%;
float: left;
text-align: center;
border: 1px  solid #e8e8e8;
padding: 50px 20px; /* butom-top 50 / gauche droite 20*/
}

.about-item:hover .about-item-title{/* kindir hover 3la about-item n3yet l class about-item-title we n appliqué colour blanc */
    color: #fff;
    }
.about-item.mg{
margin-left:5%; /*a gauche et a droite*/
margin-right:5%;
}

.icon{
   color: #6195ff;
   margin-bottom: 10px; 
}

.about-item-title{
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: color 0.5s;

}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;

}
.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
}

.about-item:hover{
    /*color: red;*/
}


/*portfoliot section*/
.portfolio{

    background-color: #f9f9f9;
}
.portfoliot-content{
    overflow: hidden;
   
   }
  .portfoliot-item{
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;

    
    }

    .portfoliot-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5;
   
    }
    .portfoliot-item:hover .layer-content{
        opacity: 1;
        visibility: visible;
    }
    .portfoliot-item img{
        width: 100%;
    }
    .portfoliot-item.mg{
       margin: 0 5%;
        }

     .layer-content .layer-info{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            text-align: center;
            transform: translate(-50%,-50%);
        }

        .layer-content .category{
        display: block; /*wlah ma3labli*/
        color: #6195ff;
        text-transform: uppercase;
        margin-bottom: 20px; 
        font-size: 20px;  
        position:relative;
        top: 60px;
        transition: top 0.5s;
    }
       .layer-content-title{
        font-size: 30px;
        color: white;   
        margin-bottom: 10px;
        position: relative;
        top: 60px;
        transition: 1s;
    }
    
    .layer-content a {
        color: #fff;
        position: relative;
        top: 60px;
        transition: 1.5s;
    }
    .layer-content a i{
        line-height: 40px;
        display:inline-block; /*bch les bouttons y93do fe meme ligne*/
        width:40px;
        height: 40px;
        background-color: #6195ff;
        color: #fff;
    }

    .portfoliot-item:hover .layer-content .category, 
    .portfoliot-item:hover .layer-content-title,
    .portfoliot-item:hover .layer-content a  {
        top: 0;
    }




   

/*service section*/

.service{
    background-color: #f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
}

.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{

    margin: 0 0 70px 0;
}
.service-item .service-item-desc{
 padding-right: 50px;
 margin-bottom: 20px;
 text-transform: capitalize;
 color: #999;
 line-height: 1.5;
 font-size: 14px;
 

}
.service-list{
    list-style: none;
}

.service-list li{
    margin-bottom: 10px;
    color: #999;
    text-transform: capitalize;
}
.service-list li i {
    border:3px solid  #6195ff;
    color: #6195ff;
    padding:15px 7px;/*10 malfo9 we ta7t we 7 gauche et droite*/
    border-radius: 50%;
} 



.service-item-img img{
    width: 100%;
}

.service-bollets{
    list-style: none;
    text-align: center;
}
.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color: #6195ff;
}

.service-bollets li:hover{
    background-color: #6195ff;
}


/*numbers section*/

.numbers{
    position: relative;
    background-image: url(../images/background2.jpg);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}


.numbers-items{
    overflow: hidden;
   
}
.numbers-item{
    width: 25%;
   float: left;
   text-align: center;
}
.numbers-item .icon{
    margin-bottom: 15px;
}

.numbers-items-title{
font-weight: bold;
font-size: 35px;

color: #fff;
}

.numbers-items-text{
    color: #fff;
}

/*section pricing*/
.pricing{
    margin-bottom: 120px;
}

/*pricing section*/
.pricing{


}

.pricing-plans{
    overflow: hidden;
}

.pricing-item{
    float: left;
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-item.mg{
 margin: 0 5%;
   
}

.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5s;
}
.pricing-item-permonth{
    width: 130px;
    height: 130px;
    margin: 20px auto;
    padding: 20px 0;
    border: 3px solid #6195ff;
    border-radius: 50%;
    transition: color 0.5s;
}
.pricing-item-permonth .dollar{
font-size: 50px;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


.pricing-list li{
    list-style: none;
    color: #999;
    line-height: 1.8;
}


.pricing-item-purshase{
   background: 0;
    border:3px solid #6195ff;
    display: block;
    width: 140px;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #6195ff;
    font-weight: bold;
}

.topBotm-effect{
    position: relative;
}
.topBotm-effect:after{
    position: absolute;
    content: "";
    /*width: 100%;
    height: 100%; ou */
    width: 100%;
    height: 0;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*ma3ntha kol wahd yadjbed man djiha hatta y3ammer item*/
    transition: height 0.5s; /*dirli transition (ykhrdj bla39el 0.5 s)*/
    /*opacity: 0.6;*/
    z-index: -1; /* effect yawlli ta7t el hadra titre we disription*/
}
.topBotm-effect:hover:after{ /*ma3ntha kindir hover 3aytli lel class .leftToRight-effect:after*/
    
    height: 100%;  
}

.pricing-item:hover .pricing-item-permonth{
    color:#fff;
}

.pricing-item:hover .pricing-item-text{
    color:#fff;
}

/*testimonail section*/
.testimonail{
    position: relative;
    background-image: url(../images/background3.jpg);
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}
.testimonail-content{
    overflow: hidden;
    padding: 100px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    width: 50%;
   float: left;
  
   color: #fff;
}
.testimonail-item .toplayer {
 padding :10px 2px 40px 100px ;
 position: relative;
}
.testimonail-item .toplayer img{
    position:absolute;
    left: 10px;
   border: 1px solid ;
    border-radius: 50%;
}

.testimonail-item .toplayer h3{
    margin-bottom: 5px 0;
}

.testimonail-item .toplayer span{
 color: #6195ff;
}

.testimonail-desc{
    line-height: 1.5;
    font-size: 17px;
    text-transform: capitalize;
}


/*Team Section*/
.team{

}
.team-content{
    overflow: hidden;
}

.team-item{
width: 30%;
float:left;
background-color: #e8e8e8;
padding: 40px 10px;
text-align: center;
}

.team-item.mg{
    margin: 0 5%;
}

.team-item .team-image{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overly{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}
.team-item:hover .team-overly{
    opacity: 1;
    visibility: visible;
}

.team-overly a{
    color: #fff;
    background-color: #6195ff;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
}
.team-overly a i{
    line-height: 40px;
}

.team-item .team-image img{
 width: 100%;
}

.team-info .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-info .team-info-texte{
    color:#999;
    font-size: 14px;
    transition: color 0.5s;
}


.team-item.topBotm-effect{
    z-index: 1;
} 

.team-item:hover .team-info-title{
 color: #fff;
}

.team-item:hover .team-info-texte{
    color: #6195ff;
   }
  /*Blog section*/
.blog{
   background:#e8e8e8; 
}
  .blog-content{
    overflow: hidden;
}

 .blog-info li{
    list-style: none;
    line-height: 1.8;
    display:inline-block;
    margin: 0 5px;
  
}

.blog-info li i{
    color: #6195ff;}


.blog-item{
    width: 30%;
    float:left;
    padding: 40px 10px;
    background: #fff;

   
    }
    .blog-item.mg{
        margin-left:5%; /*a gauche et a droite*/
        margin-right:5%;
        }

.blog-item .blog-image img{
    width: 100%;
}


.blog-item .blog-title{
    font-size: 17px;
    color:#222;
    margin: 10px 0;
    font-weight: bold;
}


.blog-item .blog-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;

}

.blog-info-gene{
    padding: 20px;
}

.blog-info-gene a{
    background: 0;
    border:none;
     color: #6195ff;
     font-weight: bold;
     text-transform: capitalize;
 }


 /*Footer*/

 .footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px;
 }
 .footer .footer-links{
    list-style: none;
    margin: 20px 0;
}

.footer .footer-links li{
    display:inline-block;
}
.footer-links li a{
  display: block;
    width: 50px;
  height: 50px;
  background: #6195ff;
  color: #fff;
  margin: 0 5px;
  border-radius: 50%;
}
.footer-links li a i{
line-height: 50px;

}

.footer .copyright{
    font-size: 15px;
    color: #999;
    text-transform: uppercase;
padding-top:20px
}
